*{
	margin:0;
	padding:0;
	outline: 0;
	text-decoration: none;
	list-style: none;
	font-size:1em;
	color:rgba(255,255,255,0.95);
	box-sizing:border-box;
}
@font-face {
    font-family: 'pervitinadex';
    src: url('../fonts/pervitinadex.woff2') format('woff2'),
         url('../fonts/pervitinadex.woff') format('woff');
    font-weight: BOLD;
    font-style: normal;
}
body{
	text-align: center;
	font-family: monospace;
	font-size: 16px;
	margin:auto;
	color:#fff;
	-webkit-font-smoothing: antialiased;
}
header{
  margin: 1em auto 1em auto;
}